<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="logdir" source="logback.logdir" />
    <springProperty scope="context" name="appname" source="logback.appname" />

    <springProfile name="dev">
        <appender name="syslog" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[CCB][BDL][%d{yyyy-MM-dd HH:mm:ss SSS}][%-5p][%C][userMessage=%m]%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    </springProfile>

    <!-- RollingFileAppender:滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件 -->
    <!-- 1.先按日期存日志，日期变了，将前一天的日志文件名重命名为xxx%日期%索引，新的日志仍然是sys.log -->
    <!-- 2.如果日期没有变化，但是当前日志文件的大小超过50MB时，对当前日志进行分割 重名名 -->
    <springProfile name="prod">
        <appender name="syslog"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${logdir}/${appname}.log</File>
            <!-- rollingPolicy:当发生滚动时，决定 RollingFileAppender 的行为，涉及文件移动和重命名。 -->
            <!-- TimeBasedRollingPolicy： 最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 活动文件的名字会根据fileNamePattern的值，每隔一段时间改变一次 -->
                <!-- 文件名：log/bdl.2017-12-05.0.log -->
                <fileNamePattern>${logdir}/${appname}.%d.%i.log
                </fileNamePattern>
                <!-- 每产生一个日志文件，该日志文件的保存期限为30天 -->
                <maxHistory>30</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- maxFileSize:这是活动文件的大小，默认值是10MB -->
                    <maxFileSize>50MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <!-- pattern节点，用来设置日志的输入格式 -->
                <pattern>
                    [CCB][BDL][%d{yyyy-MM-dd HH:mm:ss SSS}][%-5p][%C][userMessage=%m]%n
                </pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    </springProfile>

    <logger name="org.springframework.web" level="INFO">
        <appender-ref ref="syslog" />
    </logger>

    <logger name="org.springboot.sample" level="INFO">
        <appender-ref ref="syslog" />
    </logger>

    <logger name="com.ccb.bdl" level="DEBUG" additivity="false">
        <appender-ref ref="syslog" />
    </logger>


    <!-- 级别依次为【从高到低】：FATAL > ERROR > WARN > INFO > DEBUG > TRACE -->
    <root level="INFO">
        <appender-ref ref="syslog" />
    </root>
</configuration>